

.color{
    background-color: rgb(180, 244, 97);
}

.show{
    visibility: hidden;
}
.show2{
    visibility: visible;
}

.line{

    margin-bottom: 20px;
    box-shadow: 4px 4px 2px rgb(202, 199, 199);
    border: 1px solid gray;
}